# This is a sample configuration file for the checkModuleDependencies utility.

# The root directory of the MDC module sources
# moduledir: ../../../../modules
moduledir: /localhome/masniels/development/base2_features/orpheus/source

# The compiler to use
compiler: g++

# Compiler flags necessary for each source file
# cflags: -std=gnu99 -DECOS -DNEW_SB -DPPG_LQC1 -DUSES_BI -DUSES_DCD -DWITH_TEST_INTERFACE

# Header files that should always be included
# include: ../../../../modules/hardware/std_types.h

# Directories that can be used for include files
includedir: /localhome/masniels/development/base2_features/orpheus/source
includedir: /localhome/extern/intel/mkl721/include
includedir: /localhome/extern/muparser/include
includedir: /localhome/extern/cm2/headers
includedir: /localhome/extern/cm2_v412/headers

# The valid modules for this project and their allowed dependencies
# Layer: Base
dependency: API:            BASE                                                                      ERRor              IO        Math                                                                THReading UTILities
dependency: BASE:       API                                                                  Datatype ERRor              IO        Math                                                                          UTILities
dependency: Datatype:   API                                                                           ERRor              IO        Math                                                                          UTILities
dependency: ERRor:      API                                                                                              IO                                                                            THReading UTILities
dependency: IO:         API BASE                                                                      ERRor                                                                                            THReading UTILities
dependency: Math:       API BASE                                                             Datatype ERRor              IO                                                                            THReading UTILities
dependency: THReading:  API                                                                           ERRor              IO                                                                                      UTILities
dependency: UTILities:  API                                                                  Datatype ERRor              IO        Math

# Layer: Options
dependency: OPTions:    API BASE                                                                      ERRor              IO        Math                                                                          UTILities

# Layer: Data
dependency: DATAGroup:  API BASE                                                                      ERRor              IO        Math                                                                          UTILities

# Layer: Modelling
dependency: KERNel:     API BASE BBOUNDary CLearance  COMPonent CONnection CONTact DATAGroup Datatype ERRor FEM GRAPHics IO        Math MATHModel MESHer OPTions PDD PROJect SETtings SOLver TRIBology           UTILities
dependency: BBOUNDary:  API BASE           CLearance  COMPonent                    DATAGroup Datatype ERRor     GRAPHics IO KERNel Math MATHModel        OPTions             SETtings SOLver TRIBology           UTILities
dependency: CONnection: API BASE BBOUNDary            COMPonent            CONTact DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel MESHer         PDD                  SOLver TRIBology           UTILities
#dependency: COMPonent:  API BASE BBOUNDary CLearance            CONnection CONTact DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel MESHer OPTions PDD         SETtings SOLver TRIBology THReading UTILities
dependency: CONTact:    API BASE                      COMPonent CONnection         DATAGroup Datatype ERRor     GRAPHics IO KERNel Math MATHModel                                     SOLver TRIBology           UTILities
dependency: FEM:        API BASE                      COMPonent                    DATAGroup Datatype ERRor     GRAPHics IO KERNel Math MATHModel MESHer OPTions PDD         SETtings SOLver           THReading UTILities
dependency: GRAPHics:   API BASE BBOUNDary            COMPonent                              Datatype ERRor              IO KERNel Math MATHModel                                                      THReading UTILities
dependency: MATHModel:  API BASE BBOUNDary            COMPonent CONnection         DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math           MESHer OPTions PDD                  SOLver TRIBology THReading UTILities
dependency: MESHer:     API BASE                      COMPonent                    DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel                PDD                                             UTILities
#dependency: PDD:        API BASE           CLearance  COMPonent CONnection         DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel MESHer OPTions             SETtings        TRIBology           UTILities
dependency: SETtings:   API BASE                                                                      ERRor     GRAPHics IO        Math                  OPTions                                                 UTILities
dependency: SOLver:     API BASE BBOUNDary            COMPonent CONnection         DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel MESHer                                               THReading UTILities
dependency: TRIBology:  API BASE BBOUNDary            COMPonent            CONTact DATAGroup Datatype ERRor     GRAPHics IO KERNel Math MATHModel                                     SOLver                     UTILities

# Layer: Analysis
dependency: ANAlysis:   API BASE BBOUNDary CLearance  COMPonent CONnection         DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel MESHer OPTions PDD                  SOLver           THReading UTILities

# Layer: Processing
#dependency: POSTProcessing: ANAlysis API BASE BBOUNDary CLearance  COMPonent CONnection CONTact        DATAGroup Datatype ERRor EVALuator FATigue FEM GRAPHics IO KERNel Math MATHModel MESHer OPTions PDD REPort SESSION SOLver TRIBology THReading UTILities
#dependency: REPort: ANAlysis API BASE BBOUNDary COMPonent CONnection DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel OPTions POSTProcessing SESSION SOLver TABLE UTILities
dependency: SESSION: ANAlysis API BASE BBOUNDary COMPonent CONnection DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel POSTProcessing REPort SOLver UTILities
#dependency: TABLE: ANAlysis API BASE BBOUNDary COMPonent CONnection DATAGroup Datatype ERRor GRAPHics IO KERNel Math MATHModel POSTProcessing REPort SESSION SOLver UTILities

# Layer: GUI
#dependency: CMS: ANAlysis API BASE BBOUNDary COMPonent CONnection DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel POSTProcessing REPort SOLver UTILities
#dependency: GUI: ANAlysis API BASE BBOUNDary COMPonent CONnection DATAGroup Datatype ERRor FEM GRAPHics IO KERNel Math MATHModel POSTProcessing REPort SOLver UTILities

# Module directories on which the project does not depend (relative to 'moduledir')
# undepend: hardware/chaos
# undepend: hardware/nos
# undepend: root_def/chaos

